@model IEnumerable<MedicineSearchWebApp.Models.Vendor>

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Home/_AfterLoginLayout.cshtml";
}



<table class="table">
    <thead>
        <tr>
            <th style="background-color : black">
                @Html.DisplayNameFor(model => model.VendorOrgName)
            </th>
            <th style="background-color : black">
                @Html.DisplayNameFor(model => model.VendorArea)
            </th>
            <th style="background-color : black">
                @Html.DisplayNameFor(model => model.VendorCity)
            </th>
            <th style="background-color : black">
                @Html.DisplayNameFor(model => model.VendorMobile)
            </th>
            <th style="background-color : black">
                @Html.DisplayNameFor(model => model.VendorWallet)
            </th>
            <th style="background-color : black">
                @Html.DisplayNameFor(model => model.VendorPassword)
            </th>
            <th style="background-color : black"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td data-column="Organisation Name">@Html.DisplayFor(modelItem => item.VendorOrgName)</td>
                <td data-column="Area">@Html.DisplayFor(modelItem => item.VendorArea)</td>
                <td data-column="City">@Html.DisplayFor(modelItem => item.VendorCity)</td>
                <td data-column="Mobile No.">@Html.DisplayFor(modelItem => item.VendorMobile)</td>
                <td data-column="Wallet Balance">@Html.DisplayFor(modelItem => item.VendorWallet)</td>
                <td data-column="Password">@Html.DisplayFor(modelItem => item.VendorPassword)</td>
                <td>
                    <a asp-action="EditVendor" asp-route-id="@item.VendorId">Edit</a> 
                </td>
            </tr>
           
            }
        </tbody>
</table>