@model IEnumerable<MedicineSearchWebApp.Models.Medecine>

@{
    ViewData["Title"] = "display";
    Layout = "~/Views/Home/_AfterLoginLayout.cshtml";
}
<table class="table">
    <thead>
        <tr>
            <th style="background-color : black">
                @Html.ActionLink("NAME", "display", new { sort = ViewBag.NameSortParam })
            </th>
            <th style="background-color : black">
                @Html.ActionLink("CATEGORY", "display", new { sort = ViewBag.CatSortParam })
            </th>
            <th style="background-color : black">
                DOSAGE
            </th>
            <th style="background-color : black">
                @Html.ActionLink("MANUFACTURING DATE", "display", new { sort = ViewBag.MDATESortParam })
            </th>
            <th style="background-color : black">
                @Html.ActionLink("EXPIRY DATE", "display", new { sort = ViewBag.EDATESortParam })
            </th>
            <th style="background-color : black">
                @Html.ActionLink("STOCK", "display", new { sort = ViewBag.StockSortParam })
            </th>
            <th style="background-color : black">
                @Html.ActionLink("PRICE", "display", new { sort = ViewBag.PriceSortParam })
            </th>
            <th style="background-color : black">
                SUPPLIER
            </th>
            <th style="background-color : black"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td data-column="Name">
                    @Html.DisplayFor(modelItem => item.MedicineName)
                </td>
                <td data-column="Category">
                    @Html.DisplayFor(modelItem => item.MedicineCategory)
                </td>
                <td data-column="Dosage">
                    @Html.DisplayFor(modelItem => item.MedicineDosage)
                </td>
                <td data-column="Manufacture Date">
                    @Html.DisplayFor(modelItem => item.MedicineMdate)
                </td>
                <td data-column="Expiry Date">
                    @Html.DisplayFor(modelItem => item.MedicineEdate)
                </td>
                <td data-column="Stock">
                    @Html.DisplayFor(modelItem => item.MedicineStock)
                </td>
                <td data-column="Price">
                    @Html.DisplayFor(modelItem => item.MedicinePrice)
                </td>
                <td data-column="Provider ID">
                    @Html.DisplayFor(modelItem => item.ProviderId)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.MedicineId">Update</a> |
                    <a asp-action="Delete" asp-route-id="@item.MedicineId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
