
@model IEnumerable<MedicineSearchWebApp.Models.Medecine>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Home/_AfterUserPageLayout.cshtml";
}

<style>
    .nameSearch{
        position : relative;
    }
    .categorySearch {
        position: relative;
    }
</style>
<h1>Medicines</h1>
<hr />
<div>
    <p class="nameSearch" style="display: inline-block;">
        <a asp-action="byName">Search By Name</a>
    </p>
    <p class="categorySearch" style="display: inline-block;">
        <a asp-action="byCategory">Search By Category</a>
    </p>
</div>
<div id="MEDS">
    <table class="table">
        <thead>
            <tr>
               <th style="background-color : black">
                    Medicine Name
                </th>
               <th style="background-color : black">
                    @Html.ActionLink("CATEGORY", "Index", new { sort = ViewBag.CatSortParam })
                </th>
               <th style="background-color : black">
                    Dosage
                </th>
               <th style="background-color : black">
                    @Html.ActionLink("MANUFACTURING DATE", "Index", new { sort = ViewBag.MDATESortParam })
                </th>
               <th style="background-color : black">
                    @Html.ActionLink("EXPIRY DATE", "Index", new { sort = ViewBag.EDATESortParam })
                </th>
               <th style="background-color : black">
                    @Html.ActionLink("STOCK", "Index", new { sort = ViewBag.StockSortParam })
                </th>
               <th style="background-color : black">
                    @Html.ActionLink("PRICE", "Index", new { sort = ViewBag.PriceSortParam })
                </th>
               <th style="background-color : black">
                    Supplier
                </th>
               <th style="background-color : black">
                    Order Now
                </th>
            </tr>
        </thead>

        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.MedicineName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.MedicineCategory)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.MedicineDosage)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.MedicineMdate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.MedicineEdate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.MedicineStock)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.MedicinePrice)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ProviderId)
                    </td>

                    <td>
                        <a asp-action="Order" asp-route-id="@item.MedicineId">Order</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

