
@{
    ViewData["Title"] = "OrderDetails";
}

<h1>OrderDetails</h1>

<label>@TempData["orderNo"]</label>
<label>@TempData["customerId"]</label>
<label>@TempData["mid"]</label>
<label>@TempData["mname"]</label>
<label>@TempData["vendorId"]</label>
<label>@TempData["qty"]</label>
<label>@TempData["total"]</label>
<label>@TempData["time"]</label>


