@model IEnumerable<MedicineSearchWebApp.Models.Vendor>

@{
    ViewData["Title"] = "Display";
    Layout = "~/Views/Home/_afterAdmin.cshtml";
}

<br />
<h1 align="center">Member Details</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.VendorOrgName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VendorArea)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VendorCity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VendorMobile)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VendorWallet)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VendorPassword)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VendorSpeciality)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td data-column="Organisation Name">
                    @Html.DisplayFor(modelItem => item.VendorOrgName)
                </td>
                <td data-column="Vendor Area">
                    @Html.DisplayFor(modelItem => item.VendorArea)
                </td>
                <td data-column="Vendor City">
                    @Html.DisplayFor(modelItem => item.VendorCity)
                </td>
                <td data-column="Vendor Mobile">
                    @Html.DisplayFor(modelItem => item.VendorMobile)
                </td>
                <td data-column="Vendor Wallet">
                    @Html.DisplayFor(modelItem => item.VendorWallet)
                </td>
                <td data-column="Vendor Password">
                    @Html.DisplayFor(modelItem => item.VendorPassword)
                </td>
                <td data-column="Vendor Speciality">
                    @Html.DisplayFor(modelItem => item.VendorSpeciality)
                </td>
                <td>
                    <a asp-action="Delete" asp-route-id="@item.VendorId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>


